<!DOCTYPE html>
<html>
  <head>
    <title>Koromochi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    
    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper orange darken-1">
        <% if @current_user %>
          <%= link_to("Koromochi", "/posts/index", class: "brand-logo") %>
        <% else %>
          <%= link_to("Koromochi", "/", class: "brand-logo") %>
        <% end %>

        <!-- header-link -->
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if @current_user %>
            <li>
              <%= link_to posts_index_path do %>
                <i class="material-icons left">assignment</i>
              <% end %>
            </li>
            <li>
              <%= link_to posts_new_path do %>
                <i class="material-icons left">mode_edit</i>
              <% end %>
            </li>
            <li>
              <%= link_to logout_path, :method => :post do %>
                <i class="material-icons left">exit_to_app</i>
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to about_path do %>
                <i class="material-icons left">info</i>
              <% end %>
            </li>
            <li>
              <%= link_to signup_path do %>
                <i class="material-icons left">person_add</i>
              <% end %>
            </li>
            <li>
              <%= link_to login_path do %>
                <i class="material-icons left">directions_run</i>
              <% end %>
            </li>
          <% end %>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    <!-- sidenav -->
    <ul id="slide-out" class="sidenav ">
      <li>
        <div class="user-view">
          <div class="background">
            <%= image_tag("memo.jpg") %>
          </div>
          <span class="white-text">Koromochi</span>
        </div>
      </li>
      <% if @current_user %>
        <li>
          <%= link_to posts_index_path do %>
            <i class="material-icons left">assignment</i>メモ一覧
          <% end %>
        </li>
        <li>
          <%= link_to posts_new_path do %>
            <i class="material-icons left">mode_edit</i>新規投稿
          <% end %>
        </li>
        <li>
          <%= link_to logout_path, :method => :post do %>
            <i class="material-icons left">exit_to_app</i>ログアウト
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to about_path do %>
            <i class="material-icons left">info</i>Koromochiとは
          <% end %>
        </li>
        <li>
          <%= link_to signup_path do %>
            <i class="material-icons left">person_add</i>新規登録
          <% end %>
        </li>
        <li>
          <%= link_to login_path do %>
            <i class="material-icons left">directions_run</i>ログイン
          <% end %>
        </li>
      <% end %>
    </ul>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>

    <div class="fixed-action-btn">
      <%= link_to posts_new_path, class: "btn-floating btn-large red" do %>
        <i class="large material-icons">mode_edit</i>
      <% end %>
    </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems, {});
    });
  </script>
  </body>
</html>
